In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/training.1600000.processed.noemoticon.csv', sep=',', encoding='latin-1', names=['target', 'ids', 'date', 'flag', 'user', "text"])

*     target: the polarity of the tweet (0 = negative, 2 = neutral, 4 = positive)
*     ids: The id of the tweet ( 2087)
*     date: the date of the tweet (Sat May 16 23:58:44 UTC 2009)
*     flag: The query (lyx). If there is no query, then this value is NO_QUERY.
*     user: the user that tweeted (robotickilldozr)
*     text: the text of the tweet (Lyx is cool)

In [3]:
df.head(3)

,target,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...

data contains 1600000

In [4]:
df.shape

(1600000, 6)

In [5]:
grouped_by_users = df[['user','target']].groupby('user').count().sort_values(['target'], ascending=False)
grouped_by_users

                 target
user
lost_dog            549
webwoke             345
tweetpet            310
SallytheShizzle     281
VioletsCRUK         279
...                 ...
artgantuan            1
artfulife             1
artful_Roger          1
artfromscotland       1
zzzzeus111            1

[659775 rows x 1 columns]

In [6]:
grouped_by_users[grouped_by_users['target'] > 1]

                 target
user
lost_dog            549
webwoke             345
tweetpet            310
SallytheShizzle     281
VioletsCRUK         279
...                 ...
propapapa             2
Nisha_xo              2
ramirami00            2
GabGoldenberg         2
PointySwords          2

[254498 rows x 1 columns]

In [7]:
print(f'{254498 / 659775 * 100:.2f}% of the people have more than 1 tweet')

38.57% of the people have more than 1 tweet

In [8]:
grouped_by_users[grouped_by_users['target'] > 2]

                 target
user
lost_dog            549
webwoke             345
tweetpet            310
SallytheShizzle     281
VioletsCRUK         279
...                 ...
somahlove             3
CorksRedFM            3
kellenrice            3
shoey822              3
lrmontes              3

[143221 rows x 1 columns]

In [9]:
df['date'] = pd.to_datetime(df['date'])

/home/eclipse/Documents/HarborSpace/Industrial/Project/ml_model_env/lib/python3.9/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname PDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

Added all the tweets by each user on the new dataframe for easier access

In [20]:
text_added_by_tweets = df[['user','text']].groupby(['user'],as_index=False).agg({'text': '||'.join})

In [31]:
text_added_by_tweets

                   user                                               text
0          000catnap000  kinda miss my mom  shouldn't have called her t...
1       000matthewkelly  Just had a facebook Friend purge..  Where did ...
2             000yea000                   thank God we finally found her!
3             0010x0010  @JoannaGoff  Really ? LOL ...no not personally...
4           001BabyGirl  @ianvisagie Why??? ||Is going to Stone feather...
...                 ...                                                ...
659770           zzztar  Watching Lipstick Jungle Season 2 ||@Heather_P...
659771            zzzum  Oh lord yes! mom brought... Cookies!!! Chocola...
659772       zzzunzinnn  wat a mild SURPRISEEEEEEEEEE!!!!!!!! mah dear ...
659773  zzzyourdreamzzz  OMG...... Im the only 1 workin in clinic tonig...
659774       zzzzeus111  Wishing I were there.  Where?  Anywhere! Margh...

[659775 rows x 2 columns]

In [40]:
def get_all_tweets_by_user(user: str) -> list:
    return text_added_by_tweets[text_added_by_tweets['user'] == '000catnap000'].values[0][1].split("||")

In [41]:
get_all_tweets_by_user('000catnap000')

["kinda miss my mom  shouldn't have called her today...",
 '@Wumbologist huh uhu...i see dead people xD abhalte kann ich dich ned ',
 "awake since six o'clock... i had two hours sleep.anyway...going to visit my sweetheart jasmin in hospital ",
 'this is one of the cartoons i used to watch together with my brother  http://bit.ly/15kZmW  ...good old times ',
 '@Wumbologist hmmm...why not ',
 "can't get enough of it  http://bit.ly/134sSZ"]